## Week 2 Scratch Paper and Notes

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import pandas as pd

In [5]:
# Data Filepaths
boston_filepath = "/content/drive/MyDrive/Data/bostonHousing1978.csv"
mortgage_filepath = "/content/drive/MyDrive/Data/mortgages.csv"
linear_filepath = "/content/drive/MyDrive/Data/linear.csv"
passenger_filepath = "/content/drive/MyDrive/Data/passenger_modified.csv"
url = 'https://github.com/msmccann10/Portfolio/blob/main/Sales-predictions/data/sales_predictions.csv'

pd.read_csv(url)

ParserError: ignored

# Notes and Practice for Slicing

In [ ]:
boston_df = pd.read_csv(boston_filepath)
boston_df.head()

      RM  LSTAT  PTRATIO  target
0  6.575   4.98     15.3    24.0
1  6.421   9.14     17.8    21.6
2  7.185   4.03     17.8    34.7
3  6.998   2.94     18.7    33.4
4  7.147   5.33     18.7    36.2

In [ ]:
boston_df.shape
## 506 x4

boston_df.dtypes

RM         float64
LSTAT      float64
PTRATIO    float64
target     float64
dtype: object

In [ ]:
#slice columns using double brackets [[]]. Single brackets [] return a pandas series whereas double [[]] return a dataframe. 

boston_df[['LSTAT', 'target']].head()

   LSTAT  target
0   4.98    24.0
1   9.14    21.6
2   4.03    34.7
3   2.94    33.4
4   5.33    36.2

In [ ]:
# .loc method will also work

boston_df.loc[:, ['LSTAT', 'target']].head()
#df.loc[['RM'],['target']].head()

   LSTAT  target
0   4.98    24.0
1   9.14    21.6
2   4.03    34.7
3   2.94    33.4
4   5.33    36.2

# Notes and Practice for Filtering

In [ ]:
mortgage_df = pd.read_csv(mortgage_filepath)
mortgage_df.head()

   Month  Starting Balance  Repayment  ...  New Balance  Mortgage Name  Interest Rate
0      1         400000.00    1686.42  ...    399313.58        30 Year           0.03
1      2         399313.58    1686.42  ...    398625.44        30 Year           0.03
2      3         398625.44    1686.42  ...    397935.58        30 Year           0.03
3      4         397935.58    1686.42  ...    397243.99        30 Year           0.03
4      5         397243.99    1686.42  ...    396550.67        30 Year           0.03

[5 rows x 8 columns]

In [ ]:
mortgage_df['Interest Rate'].value_counts()

0.03    540
0.05    540
Name: Interest Rate, dtype: int64

In [ ]:
interest_filter = mortgage_df['Interest Rate'] == 0.03
interest_filter.head()

0    True
1    True
2    True
3    True
4    True
Name: Interest Rate, dtype: bool

In [ ]:
mortgage_df[interest_filter].head()

#same as writing out mortgage_df[mortgage_df['Interest Rate'] == 0.03].head()

   Month  Starting Balance  Repayment  ...  New Balance  Mortgage Name  Interest Rate
0      1         400000.00    1686.42  ...    399313.58        30 Year           0.03
1      2         399313.58    1686.42  ...    398625.44        30 Year           0.03
2      3         398625.44    1686.42  ...    397935.58        30 Year           0.03
3      4         397935.58    1686.42  ...    397243.99        30 Year           0.03
4      5         397243.99    1686.42  ...    396550.67        30 Year           0.03

[5 rows x 8 columns]

In [ ]:
mortgage_df.loc[interest_filter, :].head()

#same as mortgage_df.loc[mortgage_df['Interest Rate'] == 0.03, :].head()

   Month  Starting Balance  Repayment  ...  New Balance  Mortgage Name  Interest Rate
0      1         400000.00    1686.42  ...    399313.58        30 Year           0.03
1      2         399313.58    1686.42  ...    398625.44        30 Year           0.03
2      3         398625.44    1686.42  ...    397935.58        30 Year           0.03
3      4         397935.58    1686.42  ...    397243.99        30 Year           0.03
4      5         397243.99    1686.42  ...    396550.67        30 Year           0.03

[5 rows x 8 columns]

Combine Filters using 
& and
| or
^ exclusive or
~ not

In [ ]:
mortgage_filter = mortgage_df['Mortgage Name'] == '30 Year'

mortgage_df.loc[mortgage_filter & interest_filter, :]

     Month  Starting Balance  ...  Mortgage Name  Interest Rate
0        1         400000.00  ...        30 Year           0.03
1        2         399313.58  ...        30 Year           0.03
2        3         398625.44  ...        30 Year           0.03
3        4         397935.58  ...        30 Year           0.03
4        5         397243.99  ...        30 Year           0.03
..     ...               ...  ...            ...            ...
355    356           8364.12  ...        30 Year           0.03
356    357           6698.61  ...        30 Year           0.03
357    358           5028.93  ...        30 Year           0.03
358    359           3355.08  ...        30 Year           0.03
359    360           1677.04  ...        30 Year           0.03

[360 rows x 8 columns]

# Renaming and Deleting Columns

In [ ]:
# We will be using the mortgage df again. 
mortgage_df.head()

   Month  Starting Balance  Repayment  ...  New Balance  Mortgage Name  Interest Rate
0      1         400000.00    1686.42  ...    399313.58        30 Year           0.03
1      2         399313.58    1686.42  ...    398625.44        30 Year           0.03
2      3         398625.44    1686.42  ...    397935.58        30 Year           0.03
3      4         397935.58    1686.42  ...    397243.99        30 Year           0.03
4      5         397243.99    1686.42  ...    396550.67        30 Year           0.03

[5 rows x 8 columns]

In [ ]:
# Renaming Method 1: Dictionary Substitution
mortgage_df = mortgage_df.rename(columns={'Starting Balance': 'starting_balance',
                                          'Interest Paid': 'interest_paid',
                                          'Principal Paid': 'principal_paid'})

mortgage_df.head()

   Month  starting_balance  Repayment  ...  New Balance  Mortgage Name  Interest Rate
0      1         400000.00    1686.42  ...    399313.58        30 Year           0.03
1      2         399313.58    1686.42  ...    398625.44        30 Year           0.03
2      3         398625.44    1686.42  ...    397935.58        30 Year           0.03
3      4         397935.58    1686.42  ...    397243.99        30 Year           0.03
4      5         397243.99    1686.42  ...    396550.67        30 Year           0.03

[5 rows x 8 columns]

In [ ]:
# Renaming Method 2: List replacement

mortgage_df.columns = ['month',
                       'starting_balance',
                       'repayment',
                       'interest_paid',
                       'principal_paid',
                       'new_balance',
                       'mortgage_name',
                       'interest_rate']

mortgage_df.head()

   month  starting_balance  repayment  ...  new_balance  mortgage_name  interest_rate
0      1         400000.00    1686.42  ...    399313.58        30 Year           0.03
1      2         399313.58    1686.42  ...    398625.44        30 Year           0.03
2      3         398625.44    1686.42  ...    397935.58        30 Year           0.03
3      4         397935.58    1686.42  ...    397243.99        30 Year           0.03
4      5         397243.99    1686.42  ...    396550.67        30 Year           0.03

[5 rows x 8 columns]

In [ ]:
# Deletion Method 1: Drop Method

mortgage_df = mortgage_df.drop(columns=['new_balance', 'month'])
mortgage_df.head()

   starting_balance  repayment  ...  mortgage_name  interest_rate
0         400000.00    1686.42  ...        30 Year           0.03
1         399313.58    1686.42  ...        30 Year           0.03
2         398625.44    1686.42  ...        30 Year           0.03
3         397935.58    1686.42  ...        30 Year           0.03
4         397243.99    1686.42  ...        30 Year           0.03

[5 rows x 6 columns]

In [ ]:
# Deletion Method 2: Del

del mortgage_df['starting_balance']
mortgage_df.head()

   repayment  interest_paid  principal_paid mortgage_name  interest_rate
0    1686.42        1000.00          686.42       30 Year           0.03
1    1686.42         998.28          688.14       30 Year           0.03
2    1686.42         996.56          689.86       30 Year           0.03
3    1686.42         994.83          691.59       30 Year           0.03
4    1686.42         993.10          693.32       30 Year           0.03

#Identifying Missing Data

In [ ]:
linear_df = pd.read_csv(linear_filepath) 

display(linear_df.head())
linear_df.info()

            x           y
0    0.000000  -51.000000
1   25.000000  -12.000000
2  117.583220  134.907414
3  108.922466  134.085180
4   69.887445         NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       102 non-null    float64
 1   y       94 non-null     float64
dtypes: float64(2)
memory usage: 1.7 KB

Missing values in Pandas usually 'NaN' or 'None'

In [ ]:
# Create a pandas string to see where there are/aren't missing values
linear_df['y'].isna().head(10)

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
Name: y, dtype: bool

In [ ]:
# Create a filter and apply to the dataframe to find NA values
y_missing = linear_df['y'].isna()

linear_df.loc[y_missing,:]

             x   y
4    69.887445 NaN
53   93.143070 NaN
60   95.542388 NaN
62  120.699573 NaN
64   82.657622 NaN
65  105.534175 NaN
92   37.546425 NaN
94   35.914205 NaN

In [ ]:
# the ~ can be used to negate (read do the opposite) 

linear_df.loc[~y_missing,:]

              x           y
0      0.000000  -51.000000
1     25.000000  -12.000000
2    117.583220  134.907414
3    108.922466  134.085180
5     96.839983  114.530638
..          ...         ...
97   120.740859  133.922297
98   100.179788  126.827116
99    59.333765   50.257797
100  120.157757  144.754676
101  115.539152  120.697309

[94 rows x 2 columns]

# Removing or Filling In Missing Data

Sticking with the linear dataset.

In [ ]:
# loading in the data so it is fresh/untampered with....
linear_df = pd.read_csv(linear_filepath) 

display(linear_df.head())
linear_df.info()

            x           y
0    0.000000  -51.000000
1   25.000000  -12.000000
2  117.583220  134.907414
3  108.922466  134.085180
4   69.887445         NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       102 non-null    float64
 1   y       94 non-null     float64
dtypes: float64(2)
memory usage: 1.7 KB

In [ ]:
# option within dropna to do how = 'any' or how = 'all'. default is any.

linear_df.loc[0:10,:].dropna(how = 'any')

# linear_df.loc[0:10,:].dropna() # how not needed because any was default

             x           y
0     0.000000  -51.000000
1    25.000000  -12.000000
2   117.583220  134.907414
3   108.922466  134.085180
5    96.839983  114.530638
6    51.775940   31.376437
7    35.016737    8.764634
8    79.457646   73.285341
9    45.344909   18.859865
10   77.767132   72.946609

In [ ]:
linear_df.loc[0:10, 'y'].fillna(0) # replace with a specific value

0     -51.000000
1     -12.000000
2     134.907414
3     134.085180
4       0.000000
5     114.530638
6      31.376437
7       8.764634
8      73.285341
9      18.859865
10     72.946609
Name: y, dtype: float64

In [ ]:
linear_df.loc[0:10, 'y'].fillna(method = 'bfill') # back fill

0     -51.000000
1     -12.000000
2     134.907414
3     134.085180
4     114.530638
5     114.530638
6      31.376437
7       8.764634
8      73.285341
9      18.859865
10     72.946609
Name: y, dtype: float64

In [ ]:
linear_df.loc[0:10, 'y'].fillna(method = 'ffill') # forward fill

0     -51.000000
1     -12.000000
2     134.907414
3     134.085180
4     134.085180
5     114.530638
6      31.376437
7       8.764634
8      73.285341
9      18.859865
10     72.946609
Name: y, dtype: float64

In [ ]:
linear_df.loc[0:10, 'y'].interpolate(method = 'linear')

0     -51.000000
1     -12.000000
2     134.907414
3     134.085180
4     124.307909
5     114.530638
6      31.376437
7       8.764634
8      73.285341
9      18.859865
10     72.946609
Name: y, dtype: float64

# Convert Pandas DF to NumPy Arrays and Dictionaries

In [ ]:
# loading in the data so it is fresh/untampered with....
linear_df = pd.read_csv(linear_filepath) 

display(linear_df.head())
linear_df.info()

            x           y
0    0.000000  -51.000000
1   25.000000  -12.000000
2  117.583220  134.907414
3  108.922466  134.085180
4   69.887445         NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       102 non-null    float64
 1   y       94 non-null     float64
dtypes: float64(2)
memory usage: 1.7 KB

In [ ]:
linear_df.to_numpy()

array([[  0.        , -51.        ],
       [ 25.        , -12.        ],
       [117.5832198 , 134.9074137 ],
       [108.9224662 , 134.0851795 ],
       [ 69.88744536,          nan],
       [ 96.83998269, 114.5306376 ],
       [ 51.77594025,  31.37643731],
       [ 35.01673734,   8.76463417],
       [ 79.45764646,  73.28534128],
       [ 45.3449093 ,  18.85986466],
       [ 77.76713229,  72.9466086 ],
       [ 55.85663802,  28.63728633],
       [ 51.8290553 ,  27.18413784],
       [ 36.07902502,  15.46895475],
       [ 80.63255196,  77.25552457],
       [124.4126644 , 147.817536  ],
       [ 38.88238694,  29.62914801],
       [ 85.24501874,  92.31571653],
       [105.4849878 , 111.063745  ],
       [ 36.82741469,   2.79748519],
       [ 98.61682009,  98.22796195],
       [102.1309415 , 117.0827211 ],
       [101.9740862 , 111.1555591 ],
       [122.5816416 , 147.0235042 ],
       [ 96.36839009,  99.62870641],
       [ 64.89044698,  47.94620302],
       [ 81.87156504,  80.51588907],
       [ 83.46634106,  76.65159462],
       [129.9988213 , 155.5832066 ],
       [129.5934245 , 155.830527  ],
       [ 71.30088195,  52.64410294],
       [ 89.63463319, 100.3291952 ],
       [ 82.74502445,  67.03050817],
       [ 84.29777124,  80.8896434 ],
       [ 93.6549342 ,  96.20409384],
       [ 37.33160529,  -6.2362947 ],
       [ 52.16604202,  23.5571594 ],
       [104.833943  , 107.7810191 ],
       [106.4639932 , 112.883657  ],
       [ 79.51558318,  72.00317212],
       [ 41.4999434 ,  20.25934009],
       [113.6214443 , 131.04384   ],
       [ 90.20451127,  94.77986788],
       [ 52.56692661,  28.21059566],
       [ 40.50463433,  14.17040121],
       [ 43.45292157,  23.19979105],
       [122.1252001 , 147.1272496 ],
       [ 55.16828222,  46.89089049],
       [ 96.44691123, 105.7562824 ],
       [119.2731974 , 126.4660848 ],
       [ 52.19022426,  42.06951797],
       [114.8983489 , 138.6278072 ],
       [126.0412086 , 139.406306  ],
       [ 93.14307012,          nan],
       [131.1618641 , 163.3539583 ],
       [ 55.35872543,  38.22375858],
       [ 94.59612783, 105.0461097 ],
       [ 75.91878744,  68.54098922],
       [ 96.9481879 , 100.2372769 ],
       [ 40.11139299,  15.2017754 ],
       [ 95.54238786,          nan],
       [ 66.46740141,  60.2143421 ],
       [120.6995729 ,          nan],
       [104.2402942 , 113.9349495 ],
       [ 82.65762179,          nan],
       [105.5341749 ,          nan],
       [ 87.34855969,  85.16272742],
       [ 69.40200784,  53.37775696],
       [127.3248623 , 160.4954569 ],
       [ 64.43689333,  43.39435848],
       [ 66.26465895,  58.1736831 ],
       [ 90.30720045,  81.64306345],
       [ 89.4048535 ,  87.64350868],
       [114.4503884 , 135.3976986 ],
       [134.4322939 , 159.0736094 ],
       [131.7902232 , 161.3630997 ],
       [ 99.56304732,  91.64481237],
       [132.7401928 , 166.1645443 ],
       [ 70.99088679,  54.86400482],
       [ 87.9094701 ,  78.97916469],
       [123.5807212 , 141.1303998 ],
       [107.6435614 , 119.0882793 ],
       [116.3612443 , 136.2293706 ],
       [ 62.73766606,  35.03959082],
       [112.0489047 , 130.8072421 ],
       [119.861603  , 136.2239313 ],
       [ 59.14093284,  43.34977918],
       [ 95.30589341, 106.1847674 ],
       [103.0198215 , 121.2744298 ],
       [109.2183446 , 115.1818431 ],
       [117.360594  , 137.4299149 ],
       [ 39.5196786 ,  16.02640021],
       [ 37.54642469,          nan],
       [129.9626909 , 141.0131341 ],
       [ 35.91420463,          nan],
       [ 43.85421968,  13.45049208],
       [ 72.88414185,  61.50699688],
       [120.7408594 , 133.9222973 ],
       [100.1797881 , 126.8271164 ],
       [ 59.33376537,  50.25779685],
       [120.1577567 , 144.7546765 ],
       [115.5391524 , 120.6973091 ]])

In [ ]:
linear_df.to_dict()

{'x': {0: 0.0,
  1: 25.0,
  2: 117.5832198,
  3: 108.9224662,
  4: 69.88744536,
  5: 96.83998269,
  6: 51.77594025,
  7: 35.01673734,
  8: 79.45764646,
  9: 45.3449093,
  10: 77.76713229,
  11: 55.85663802,
  12: 51.8290553,
  13: 36.07902502,
  14: 80.63255196,
  15: 124.4126644,
  16: 38.88238694,
  17: 85.24501874,
  18: 105.4849878,
  19: 36.82741469,
  20: 98.61682009,
  21: 102.1309415,
  22: 101.9740862,
  23: 122.5816416,
  24: 96.36839009,
  25: 64.89044698,
  26: 81.87156504,
  27: 83.46634106,
  28: 129.9988213,
  29: 129.5934245,
  30: 71.30088195,
  31: 89.63463319,
  32: 82.74502445,
  33: 84.29777124,
  34: 93.6549342,
  35: 37.33160529,
  36: 52.16604202,
  37: 104.833943,
  38: 106.4639932,
  39: 79.51558318,
  40: 41.4999434,
  41: 113.6214443,
  42: 90.20451127,
  43: 52.56692661,
  44: 40.50463433,
  45: 43.45292157,
  46: 122.1252001,
  47: 55.16828222,
  48: 96.44691123,
  49: 119.2731974,
  50: 52.19022426,
  51: 114.8983489,
  52: 126.0412086,
  53: 93.14307012,
  54: 131.1618641,
  55: 55.35872543,
  56: 94.59612783,
  57: 75.91878744,
  58: 96.9481879,
  59: 40.11139299,
  60: 95.54238786,
  61: 66.46740141,
  62: 120.6995729,
  63: 104.2402942,
  64: 82.65762179,
  65: 105.5341749,
  66: 87.34855969,
  67: 69.40200784,
  68: 127.3248623,
  69: 64.43689333,
  70: 66.26465895,
  71: 90.30720045,
  72: 89.4048535,
  73: 114.4503884,
  74: 134.4322939,
  75: 131.7902232,
  76: 99.56304732,
  77: 132.7401928,
  78: 70.99088679,
  79: 87.9094701,
  80: 123.5807212,
  81: 107.6435614,
  82: 116.3612443,
  83: 62.73766606,
  84: 112.0489047,
  85: 119.861603,
  86: 59.14093284,
  87: 95.30589341,
  88: 103.0198215,
  89: 109.2183446,
  90: 117.360594,
  91: 39.5196786,
  92: 37.54642469,
  93: 129.9626909,
  94: 35.91420463,
  95: 43.85421968,
  96: 72.88414185,
  97: 120.7408594,
  98: 100.1797881,
  99: 59.33376537,
  100: 120.1577567,
  101: 115.5391524},
 'y': {0: -51.0,
  1: -12.0,
  2: 134.9074137,
  3: 134.0851795,
  4: nan,
  5: 114.5306376,
  6: 31.37643731,
  7: 8.764634165,
  8: 73.28534128,
  9: 18.85986466,
  10: 72.9466086,
  11: 28.63728633,
  12: 27.18413784,
  13: 15.46895475,
  14: 77.25552457,
  15: 147.817536,
  16: 29.62914801,
  17: 92.31571653,
  18: 111.063745,
  19: 2.797485194,
  20: 98.22796195,
  21: 117.0827211,
  22: 111.1555591,
  23: 147.0235042,
  24: 99.62870641,
  25: 47.94620302,
  26: 80.51588907,
  27: 76.65159462,
  28: 155.5832066,
  29: 155.830527,
  30: 52.64410294,
  31: 100.3291952,
  32: 67.03050817,
  33: 80.8896434,
  34: 96.20409384,
  35: -6.236294705,
  36: 23.5571594,
  37: 107.7810191,
  38: 112.883657,
  39: 72.00317212,
  40: 20.25934009,
  41: 131.04384,
  42: 94.77986788,
  43: 28.21059566,
  44: 14.17040121,
  45: 23.19979105,
  46: 147.1272496,
  47: 46.89089049,
  48: 105.7562824,
  49: 126.4660848,
  50: 42.06951797,
  51: 138.6278072,
  52: 139.406306,
  53: nan,
  54: 163.3539583,
  55: 38.22375858,
  56: 105.0461097,
  57: 68.54098922,
  58: 100.2372769,
  59: 15.2017754,
  60: nan,
  61: 60.2143421,
  62: nan,
  63: 113.9349495,
  64: nan,
  65: nan,
  66: 85.16272742,
  67: 53.37775696,
  68: 160.4954569,
  69: 43.39435848,
  70: 58.1736831,
  71: 81.64306345,
  72: 87.64350868,
  73: 135.3976986,
  74: 159.0736094,
  75: 161.3630997,
  76: 91.64481237,
  77: 166.1645443,
  78: 54.86400482,
  79: 78.97916469,
  80: 141.1303998,
  81: 119.0882793,
  82: 136.2293706,
  83: 35.03959082,
  84: 130.8072421,
  85: 136.2239313,
  86: 43.34977918,
  87: 106.1847674,
  88: 121.2744298,
  89: 115.1818431,
  90: 137.4299149,
  91: 16.02640021,
  92: nan,
  93: 141.0131341,
  94: nan,
  95: 13.45049208,
  96: 61.50699688,
  97: 133.9222973,
  98: 126.8271164,
  99: 50.25779685,
  100: 144.7546765,
  101: 120.6973091}}

# Export pandas DataFrames to csv or Excel files

In [ ]:
mortgage_df = pd.read_csv(mortgage_filepath)

display(mortgage_df.head())
mortgage_df.info()

   Month  Starting Balance  Repayment  ...  New Balance  Mortgage Name  Interest Rate
0      1         400000.00    1686.42  ...    399313.58        30 Year           0.03
1      2         399313.58    1686.42  ...    398625.44        30 Year           0.03
2      3         398625.44    1686.42  ...    397935.58        30 Year           0.03
3      4         397935.58    1686.42  ...    397243.99        30 Year           0.03
4      5         397243.99    1686.42  ...    396550.67        30 Year           0.03

[5 rows x 8 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Month             1080 non-null   int64
 1   Starting Balance  1080 non-null   float64
 2   Repayment         1080 non-null   float64
 3   Interest Paid     1080 non-null   float64
 4   Principal Paid    1080 non-null   float64
 5   New Balance       1080 non-null   float64
 6   Mortgage Name     1080 non-null   object
 7   Interest Rate     1080 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 67.6+ KB

In [ ]:
# create filters
mortgage_filter = mortgage_df['Mortgage Name'] == '30 Year'
interest_filter = mortgage_df['Interest Rate'] == 0.03

temp_df = mortgage_df.loc[mortgage_filter & interest_filter, :]
temp_df

     Month  Starting Balance  ...  Mortgage Name  Interest Rate
0        1         400000.00  ...        30 Year           0.03
1        2         399313.58  ...        30 Year           0.03
2        3         398625.44  ...        30 Year           0.03
3        4         397935.58  ...        30 Year           0.03
4        5         397243.99  ...        30 Year           0.03
..     ...               ...  ...            ...            ...
355    356           8364.12  ...        30 Year           0.03
356    357           6698.61  ...        30 Year           0.03
357    358           5028.93  ...        30 Year           0.03
358    359           3355.08  ...        30 Year           0.03
359    360           1677.04  ...        30 Year           0.03

[360 rows x 8 columns]

In [ ]:
# export new df to CSV and excel

#temp_ df.to_csv(path_or_buf='oneMortgage.csv',index = False)
#temp_df.to_excel(excel_writer='oneMortgage.xlsx',index=False)

# Aggregate Methods

In [ ]:
# Load Fresh Data
mortgage_df = pd.read_csv(mortgage_filepath)

display(mortgage_df.head())
mortgage_df.info()

   Month  Starting Balance  Repayment  ...  New Balance  Mortgage Name  Interest Rate
0      1         400000.00    1686.42  ...    399313.58        30 Year           0.03
1      2         399313.58    1686.42  ...    398625.44        30 Year           0.03
2      3         398625.44    1686.42  ...    397935.58        30 Year           0.03
3      4         397935.58    1686.42  ...    397243.99        30 Year           0.03
4      5         397243.99    1686.42  ...    396550.67        30 Year           0.03

[5 rows x 8 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Month             1080 non-null   int64
 1   Starting Balance  1080 non-null   float64
 2   Repayment         1080 non-null   float64
 3   Interest Paid     1080 non-null   float64
 4   Principal Paid    1080 non-null   float64
 5   New Balance       1080 non-null   float64
 6   Mortgage Name     1080 non-null   object
 7   Interest Rate     1080 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 67.6+ KB

In [ ]:
# Create Filters and apply them:
mortgage_filter = mortgage_df['Mortgage Name'] == '30 Year'
interest_filter = mortgage_df['Interest Rate'] == 0.03

temp_df = mortgage_df.loc[mortgage_filter & interest_filter, :]
temp_df

     Month  Starting Balance  ...  Mortgage Name  Interest Rate
0        1         400000.00  ...        30 Year           0.03
1        2         399313.58  ...        30 Year           0.03
2        3         398625.44  ...        30 Year           0.03
3        4         397935.58  ...        30 Year           0.03
4        5         397243.99  ...        30 Year           0.03
..     ...               ...  ...            ...            ...
355    356           8364.12  ...        30 Year           0.03
356    357           6698.61  ...        30 Year           0.03
357    358           5028.93  ...        30 Year           0.03
358    359           3355.08  ...        30 Year           0.03
359    360           1677.04  ...        30 Year           0.03

[360 rows x 8 columns]

In [ ]:
temp_df.shape

(360, 8)

In [ ]:
temp_df['Interest Paid'].sum()

207106.01

In [ ]:
temp_df.sum()

Month                                                           64980
Starting Balance                                          82843130.97
Repayment                                                    607111.2
Interest Paid                                               207106.01
Principal Paid                                              400005.19
New Balance                                               82443125.78
Mortgage Name       30 Year30 Year30 Year30 Year30 Year30 Year30 Y...
Interest Rate                                                    10.8
dtype: object

In [ ]:
temp_df.describe()

#can also use round to clean it up
temp_df.describe().round(2)

        Month  Starting Balance  ...  New Balance  Interest Rate
count  360.00            360.00  ...       360.00         360.00
mean   180.50         230119.81  ...    229008.68           0.03
std    104.07         114722.02  ...    115008.82           0.00
min      1.00           1677.04  ...        -5.19           0.03
25%     90.75         136767.25  ...    135422.74           0.03
50%    180.50         244736.87  ...    243662.29           0.03
75%    270.25         331030.61  ...    330171.76           0.03
max    360.00         400000.00  ...    399313.58           0.03

[8 rows x 7 columns]

In [ ]:
# df.describe can also be called on a single column.

temp_df['New Balance'].describe().round(2)

count       360.00
mean     229008.68
std      115008.82
min          -5.19
25%      135422.74
50%      243662.29
75%      330171.76
max      399313.58
Name: New Balance, dtype: float64

# Groupby

In [ ]:
passenger_df = pd.read_csv(passenger_filepath)

display(passenger_df.head())
passenger_df.info()

   Gender  ...             satisfaction
0    Male  ...  neutral or dissatisfied
1    Male  ...  neutral or dissatisfied
2  Female  ...                satisfied
3  Female  ...  neutral or dissatisfied
4    Male  ...                satisfied

[5 rows x 15 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103793 entries, 0 to 103792
Data columns (total 15 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103793 non-null  object
 1   Customer Type               103793 non-null  object
 2   Age                         103793 non-null  int64
 3   Type of Travel              103793 non-null  object
 4   Class                       103793 non-null  object
 5   Flight Distance             103793 non-null  int64
 6   Food and drink              103793 non-null  int64
 7   Seat comfort                103793 non-null  int64
 8   Inflight entertainment      103793 non-null  int64
 9   On-board service            103793 non-null  int64
 10  Baggage handling            103793 non-null  int64
 11  Inflight service            103793 non-null  int64
 12  Cleanliness                 103793 non-null  int64
 13  Departure Delay in Minutes  103793 non-null  int64
 14  satisfaction                103793 non-null  object
dtypes: int64(10), object(5)
memory usage: 11.9+ MB

In [ ]:
passenger_df.describe().round(2)

             Age  Flight Distance  ...  Cleanliness  Departure Delay in Minutes
count  103793.00        103793.00  ...    103793.00                   103793.00
mean       39.39          1189.35  ...         3.29                       14.70
std        15.11           996.93  ...         1.31                       37.81
min         7.00            31.00  ...         1.00                        0.00
25%        27.00           414.00  ...         2.00                        0.00
50%        40.00           843.00  ...         3.00                        0.00
75%        51.00          1742.00  ...         4.00                       12.00
max        85.00          4983.00  ...         5.00                     1592.00

[8 rows x 10 columns]

In [ ]:
passenger_df['Seat comfort'].mean()

3.439904425153912

In [ ]:
passenger_df.groupby('Class')['Seat comfort'].mean()

Class
Business    3.761556
Eco         3.139008
Eco Plus    3.183679
Name: Seat comfort, dtype: float64

In [ ]:
passenger_df.groupby(['Gender', 'Class'])['Seat comfort'].mean()

Gender  Class
Female  Business    3.755691
        Eco         3.217490
        Eco Plus    3.249682
Male    Business    3.767463
        Eco         3.057182
        Eco Plus    3.110547
Name: Seat comfort, dtype: float64