# Exploring City Populations - Part 1


Always make a copy of the notebook first! 
0. Mount your drive 

1. Click the link: [Total Population by City](https://drive.google.com/file/d/1-fOFYQvP23Xmn1FwG17RSCw2dKf4f9vJ/view
)  and either: 
  1.  add the data to your drive.
  2.  or download it and drag and drop it into the file menu to the left.


2. Right click the file to the left and select 'copy path'

3. Since this is an csv file, use pd.read_csv('path') to read in the data

4. Use each other, Google, and/or the materials in the Learn platform to complete the following challenges.

In [6]:
# import pandas
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
fpath="/content/drive/MyDrive/Data/Total_Population_By_City_Acs_2015.xlsx"
# read in the excel file and name your dataframe (df is common, but not descriptive)

city_df = pd.read_excel(fpath)

# explore the top 5 rows of dataframe (this is the head)
city_df.head()

   Table_Id          City  Summary_Level  ...  State State_Fips Total_Population
0    100001  Coffman Cove            160  ...     AK          2              150
1    100002         Cohoe            160  ...     AK          2             1577
2    100003      Cold Bay            160  ...     AK          2               46
3    100004      Coldfoot            160  ...     AK          2               10
4    100005       College            160  ...     AK          2            14675

[5 rows x 8 columns]

Now that you have read the data set into Python, you can explore it!

If you get stuck, Google it!

1) How many rows and columns are in the data set?

In [22]:
rows = len(city_df)
columns = len(city_df.columns)
print(f"columns: {columns}\nrows: {rows}")

columns: 8
rows: 29574

2) What is the data type of the "Table_Id" Column and what is the data type of the "City" Column?

In [25]:
city_df['Table_Id'].dtypes

dtype('int64')

3) Find the maximum value for the Total_Population column

In [27]:
max(city_df['Total_Population'])

8426743

4) Find the minimum value for the Total_Population column.

In [28]:
min(city_df['Total_Population'])

0

5) What is the average population based on all cities?

In [33]:
(sum(city_df['Total_Population'])) / rows

8043.275275579901

6) What happens if you try to find the mean of the Geo_Id column? Why does this happen?

In [ ]:
# error. not an interger or a float.

## 🛑Great job! That's all for today. We will resume this activity next class...
___

# Exploring City Populations - Part 2

7) Sort the dataframe by Total_Population. Use the results to list a few cities that show a popoulation of 0.  If you are having trouble, look up the documentation by Googling "Pandas sort by column" and look for the site that starts with 'pandas.DataFrame...'.

8) Now sort by Total_Population so that the largest value is first.  Based on this 2015 data set, what is the 5th ranking city based on Total_Population?

9) Now sort the "City Column".  Which city is first in alphabetical order?

10) A useful tool for an overview of numerical data types is `.describe()`.  Note that it will peform calculations on any columns that are floats or integers.  (Do these calculations provide useful information for all of the columns shown? Explain)

11) A very useful tool for categorical variables such as State is `.value_counts()`.  It will tell you how many data points correspond to each category. Use this feature to quickly see how many entries there are for each state.  How many cities were included for PA? TX? What about your state?

# Extra Challenge Questions:
(May require additional research into filtering data in Pandas)

12) Now we want to just focus on the cities in Rhode Island (RI).  Assign a variable called RI that filters our dataset down to just the information from cities in Rhode Island.

13) Next, create a dataset called "Carolinas" that includes both North Carolina (NC) and South Carolina (). How many cities does this include?

14) Create a dataframe called Big_NY that includes information for cities in NY that are greater than 100,000 total population.  How many cities are included?

15) Use `.groupby()` to find the average population of cities in each state.  Remember to check the documentation for that method for proper usage.

Keep exploring and practicing asking questions about the data and finding answers through your code! Data scientists have to answer questions, but often have to ask them first!  Think of at least 5 questions that will give you practice with your new data frame skills and answer them!

Question 1:

Question 2:

Question 3:

Question 4:

Question 5: